<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS  title-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- JS personalizado -->
    <script src="../js/script.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/site_styles.css">
    <link rel="stylesheet" href="css/header.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png">
</head>

<body>
    <header id="home">
        <nav id="navbar">
            <div id="navbar-logo">
                <img src="img/Logo-CoreAmbiente_Prancheta 1 co¦üpia.png" alt="logo Cor e Ambiente" id="nav-logo">
            </div>
            <div id="nav-pages">
                <ul id="nav-list">
                    <li class="nav-item active">
                        <a href="#home">Início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#">Produtos</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="#cortinas">Cortinas</a>
                            </li>
                            <li class="nav-item">
                                <a href="#persianas">Persianas</a>
                            </li>
                            <li class="nav-item">
                                <a href="#decoracoes">Decorações</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#nossosTrabalhos">Nossos Trabalhos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/site_publicacoes/">Publicações</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact">Contato</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#contact">Mais</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="#about">Sobre Nós</a>
                            </li>
                            <li class="nav-item">
                                <a href="#faq">Perguntas Frequentes - FAQ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button id="mobile-btn">
				<i class="fa-solid fa-bars"></i>
			</button>
        </nav>
        <div id="mobile-menu">
            <ul id="mobile-nav-list">
                <li class="nav-item">
                    <a href="#home">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#cortinas">Cortinas</a>
                </li>
                <li class="nav-item">
                    <a href="#persianas">Persianas</a>
                </li>
                <li class="nav-item">
                    <a href="#decoracoes">Decorações</a>
                </li>
                <li class="nav-item">
                    <a href="#nossosTrabalhos">Nossos Trabalhos</a>
                </li>
                <li class="nav-item">
                    <a href="#publicacoes">Publicações</a>
                </li>
                <li class="nav-item">
                    <a href="#about">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a href="#contact">Contato</a>
                </li>
                <li class="nav-item">
                    <a href="#faq">Perguntas Frequentes - FAQ</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="carousel-container">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {{#each banners}}
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{@index}}" {{#if
                    active}} class="active" aria-current="true" {{/if}} aria-label="Slide{{ordem}}"></button>
                {{/each}}
            </div>
            <div class="carousel-inner">
                {{#each banners}}
                <div class="carousel-item {{#if active}}active{{/if}}" data-bs-interval="3000">
                    <img src="http://localhost:3000/img/banners/{{imagem}}" class="d-block w-100 carousel-img">
                </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="text-center">
    <a href="/lista-trabalhos" class="btn btn-outline-dark mt-4">Confira mais sobre nossos trabalhos <i
            class="bi bi-arrow-right"></i></a>
</div>
    </section>


    <!-- Institucional -->
    <section id="institucional" class="py-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center">
                    <h2>Bem-Vindo a Cor e Ambiente Decorações</h2>
                    <p>Nossa empresa é especializada em cortinas, persianas e artigos de decoração,
                        proporcionando soluções elegantes e sofisticadas para todos os tipos de ambientes.</p>
                    <a href="#contato" class="btn btn-primary">Entre em Contato</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Produtos e Serviços -->
    <section id="produtos" class="py-5 bg-dark text-light">
        <div class="container">
            <h2 class="text-center mb-4">Nossos Produtos</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="product-card position-relative">
                        <img src="img/product1.jpg" class="img-fluid" alt="Cortinas">
                        <div class="product-info position-absolute">
                            <h3>Cortinas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="product-card position-relative">
                        <img src="img/product2.jpg" class="img-fluid" alt="Persianas">
                        <div class="product-info position-absolute">
                            <h3>Persianas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="product-card position-relative">
                        <img src="img/product3.jpg" class="img-fluid" alt="Decorações">
                        <div class="product-info position-absolute">
                            <h3>Decorações</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="text-center">
                <a href="/lista-trabalhos" class="btn btn-outline-light mt-4">Ver Todas as Categorias <i
                        class="bi bi-arrow-right"></i></a>
            </div>
            -->
        </div>
    </section>


    <section id="nossosTrabalhos" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Nossos Trabalhos</h2>
            <div class="row">
                {{#each trabalhos}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="http://localhost:3000/img/trabalhos/{{imagem_principal}}" class="card-img-top"
                            alt="{{titulo}}">
                        <div class="card-body">
                            <h5 class="card-title">{{titulo}}</h5>
                            <p class="card-text">{{descricao}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section id="publicacoes" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Publicações Recentes</h2>
            <div class="row">
                {{#each publicacoes}}
                <div class="col-md-6 mb-4">
                    <div class="card flex-md-row">
                        <img src="http://localhost:3000/img/publicacoes/{{imagem_principal}}"
                            class="img-fluid rounded-start" alt="{{titulo}}" style="width: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{titulo}}</h5>
                            <p class="card-text">{{resumo}}</p>
                            <a href="{{link}}" class="btn btn-primary">Leia Mais</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section id="perguntas" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Perguntas Frequentes</h2>
            <div class="accordion" id="perguntaAccordion">
                {{#each faqs}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{@index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{@index}}" aria-expanded="true"
                            aria-controls="collapse{{@index}}">
                            {{titulo}}
                        </button>
                    </h2>
                    <div id="collapse{{@index}}" class="accordion-collapse collapse {{#if @first}}show{{/if}}"
                        aria-labelledby="heading{{@index}}" data-bs-parent="#perguntaAccordion">
                        <div class="accordion-body">
                            {{resposta}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <!-- Contato -->
    <section id="contato" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Entre em contato conosco</h4>
                    <form id="formSendMessage">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite seu Nome">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email"
                                placeholder="Digite seu E-mail">
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" name="telefone" class="form-control" id="telefone"
                                placeholder="Digite seu Telefone">
                        </div>
                        <div class="mb-3">
                            <label for="mensagem" class="form-label">Mensagem</label>
                            <textarea name="mensagem" class="form-control" id="mensagem" rows="4"
                                placeholder="Digite sua mensagem"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Nosso endereço</h4>
                    <p><i class="bi bi-geo-alt-fill"></i> R. Adolfo Bading, 760 - Centro, Canoinhas - SC, 89460-000</p>
                    <p><i class="bi bi-telephone-fill"></i> (47) 3622-2181</p>
                    <p><i class="bi bi-clock-fill"></i> Seg - Sex: 08:00 - 18:00 | Sabado: 08:30 - 13:00</p>
                    <div class="responsive-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14322.105486212708!2d-50.3825622!3d-26.1795502!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e71276f5ef1837%3A0x2385f5fd93cf9a36!2sCor%20e%20Ambiente%20Decora%C3%A7%C3%B5es!5e0!3m2!1spt-BR!2sbr!4v1723351565151!5m2!1spt-BR!2sbr"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-light" id="rodape">
        <div class="container p-4">
            <div class="row">
                <!-- Social Media -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos siga nas Redes Sociais</h5>
                    <ul class="list-unstyled d-flex justify-content-around">
                        <li><a href="#" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="text-dark"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="text-center p-3">
                    © 2023 Cor e Ambientes Decorações. Todos os direitos reservados.
                </div>

            </div>
        </div>

    </footer>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>